Repository jaceksan/gooddata-data-pipeline: changes, and which GitLab CI jobs are due for each by the changed paths.
All: extract_load, dbt, gooddata_staging, gooddata_prod

extract_load:
  stage: extract_load
  image: python:latest
  script:
  - cd "$CI_PROJECT_DIR/extract_load"
  - pip install -r requirements.txt
  - ./extract.py
  - ./load.py

dbt:
  stage: transform
  image: python:latest
  script:
  - cd "$CI_PROJECT_DIR/data_transformation"
  - pip install dbt-postgres
  - dbt deps
  - dbt run --profiles-dir profile --target dev
  - dbt test --profiles-dir profile --target dev

gooddata_staging:
  stage: analytics_staging
  image: python:latest
  script:
  - cd "$CI_PROJECT_DIR/analytics"
  - pip install -r requirements.txt
  - python gooddata_register_data_source.py
  - python gooddata_load_metadata.py
  - python gooddata_upload_notification.py
  - python gooddata_tests.py

gooddata_prod:
  stage: analytics_prod
  image: python:latest
  script:
  - cd "$CI_PROJECT_DIR/analytics"
  - pip install -r requirements.txt
  - python gooddata_provisioning.py

Fix comment in analytics
  .gitlab-ci.yml
Due: none

Fix loading GD metadata
  analytics/gooddata_load_metadata.py
Due: gooddata_staging, gooddata_prod

Extend analytics by commit/pull titles
  analytics/gooddata_layouts/cicd/workspaces/staging/analytics_model/visualization_objects/1b906b4f-ae69-4093-9181-6b9548007e9f.yaml
  analytics/gooddata_layouts/cicd/workspaces/staging/ldm/datasets/commits.yaml
  analytics/gooddata_layouts/cicd/workspaces/staging/ldm/datasets/pull_requests.yaml
  data_transformation/models/commits/commits.sql
  data_transformation/models/pull_requests/pull_requests.sql
Due: dbt, gooddata_staging, gooddata_prod

Refactor Load class
  extract_load/load.py
Due: extract_load, dbt

Pipeline demonstration
  analytics/gooddata_load_metadata.py
  data_transformation/models/commits/commits.sql
  extract_load/load.py
Due: extract_load, dbt, gooddata_staging, gooddata_prod

Call upload notification when ETL schedule is running
  .gitlab-ci.yml
Due: none

Fix gooddata_staging_update_database job
  .gitlab-ci.yml
Due: none

Edit README.md
  .gitlab-ci.yml
  README.md
  analytics/README.md
Due: gooddata_staging, gooddata_prod

Extract and load org-level tables only once per organization
  extract_load/config.py
  extract_load/config.yaml
  extract_load/extract.py
  extract_load/load.py
Due: extract_load, dbt

Fix pipeline - run analytics stage if transformation stage has changed
  .gitlab-ci.yml
Due: none

Create workspaces before deploying their content
  analytics/gooddata_load_metadata.py
Due: gooddata_staging, gooddata_prod

Load models in separate step
  analytics/gooddata_load_metadata.py
Due: gooddata_staging, gooddata_prod

Move the demo to publicly available endpoint
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/analytics_model/analytical_dashboards/e1024d50-e218-4cae-8ac7-490118700a96.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/analytics_model/filter_contexts/af11cf1d-4931-4488-b4ed-9eda6a7ecb2c.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/analytics_model/visualization_objects/1b906b4f-ae69-4093-9181-6b9548007e9f.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/analytics_model/visualization_objects/2869d6a8-05dd-4b2b-97f5-082583917eb4.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/analytics_model/visualization_objects/747e2159-9725-484a-a72c-cb787a16ab00.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/analytics_model/visualization_objects/bdc253be-41b7-429f-8fd6-df7e5962a968.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/analytics_model/visualization_objects/f1a6987e-9733-4717-994a-5bc030e4fcff.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/ldm/datasets/commits.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/ldm/datasets/pull_requests.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/ldm/datasets/users.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/ldm/date_instances/created_at.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/ldm/date_instances/merged_at.yaml
Due: gooddata_staging, gooddata_prod

Store workspaces into config.yaml
  .gitlab-ci.yml
  analytics/args.py
  analytics/config.py
  analytics/config.yaml
  analytics/gooddata_load_metadata.py
  analytics/gooddata_provisioning.py
  analytics/gooddata_store_metadata.py
  analytics/gooddata_tests.py
Due: gooddata_staging, gooddata_prod

Switch to Python alpine image (much smaller) in the pipeline
  .gitlab-ci.yml
Due: none

Introduce development workspace
  .gitlab-ci.yml
Due: none

Trigger jobs if .gitlab-ci.yml changes
  .gitlab-ci.yml
Due: none

FIX invocation of staging step in post-merge
  .gitlab-ci.yml
Due: none

Three data sources for dev, staging and prod
  .gitlab-ci.yml
  analytics/gooddata_register_data_source.py
Due: gooddata_staging, gooddata_prod

Copy layouts
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/analytical_dashboards/e1024d50-e218-4cae-8ac7-490118700a96.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/filter_contexts/af11cf1d-4931-4488-b4ed-9eda6a7ecb2c.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/1b906b4f-ae69-4093-9181-6b9548007e9f.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/2869d6a8-05dd-4b2b-97f5-082583917eb4.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/747e2159-9725-484a-a72c-cb787a16ab00.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/bdc253be-41b7-429f-8fd6-df7e5962a968.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/f1a6987e-9733-4717-994a-5bc030e4fcff.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/ldm/datasets/commits.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/ldm/datasets/pull_requests.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/ldm/datasets/users.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/ldm/date_instances/created_at.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/ldm/date_instances/merged_at.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/analytics_model/analytical_dashboards/e1024d50-e218-4cae-8ac7-490118700a96.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/analytics_model/filter_contexts/af11cf1d-4931-4488-b4ed-9eda6a7ecb2c.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/analytics_model/visualization_objects/1b906b4f-ae69-4093-9181-6b9548007e9f.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/analytics_model/visualization_objects/2869d6a8-05dd-4b2b-97f5-082583917eb4.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/analytics_model/visualization_objects/747e2159-9725-484a-a72c-cb787a16ab00.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/analytics_model/visualization_objects/bdc253be-41b7-429f-8fd6-df7e5962a968.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/analytics_model/visualization_objects/f1a6987e-9733-4717-994a-5bc030e4fcff.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/ldm/datasets/commits.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/ldm/datasets/pull_requests.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/ldm/datasets/users.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/ldm/date_instances/created_at.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/ldm/date_instances/merged_at.yaml
Due: gooddata_staging, gooddata_prod

Fix dataSourceId
  analytics/gooddata_layouts/demo-cicd/workspaces/development/ldm/datasets/commits.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/ldm/datasets/pull_requests.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/ldm/datasets/users.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/ldm/datasets/commits.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/ldm/datasets/pull_requests.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/ldm/datasets/users.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/ldm/datasets/commits.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/ldm/datasets/pull_requests.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/ldm/datasets/users.yaml
Due: gooddata_staging, gooddata_prod

Refactor pipeline
  .gitlab-ci.yml
Due: none

Refactor pipeline #2
  .gitlab-ci.yml
  data_transformation/requirements.txt
Due: dbt

Add missing pip install into the pipeline
  .gitlab-ci.yml
Due: none

Enable loading layouts from single folder into all workspaces
  analytics/config.py
  analytics/config.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/analytics_model/analytical_dashboards/e1024d50-e218-4cae-8ac7-490118700a96.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/analytics_model/filter_contexts/af11cf1d-4931-4488-b4ed-9eda6a7ecb2c.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/analytics_model/visualization_objects/1b906b4f-ae69-4093-9181-6b9548007e9f.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/analytics_model/visualization_objects/2869d6a8-05dd-4b2b-97f5-082583917eb4.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/analytics_model/visualization_objects/747e2159-9725-484a-a72c-cb787a16ab00.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/analytics_model/visualization_objects/bdc253be-41b7-429f-8fd6-df7e5962a968.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/analytics_model/visualization_objects/f1a6987e-9733-4717-994a-5bc030e4fcff.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/ldm/datasets/commits.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/ldm/datasets/pull_requests.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/ldm/datasets/users.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/ldm/date_instances/created_at.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/production/ldm/date_instances/merged_at.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/analytics_model/analytical_dashboards/e1024d50-e218-4cae-8ac7-490118700a96.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/analytics_model/filter_contexts/af11cf1d-4931-4488-b4ed-9eda6a7ecb2c.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/analytics_model/visualization_objects/1b906b4f-ae69-4093-9181-6b9548007e9f.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/analytics_model/visualization_objects/2869d6a8-05dd-4b2b-97f5-082583917eb4.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/analytics_model/visualization_objects/747e2159-9725-484a-a72c-cb787a16ab00.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/analytics_model/visualization_objects/bdc253be-41b7-429f-8fd6-df7e5962a968.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/analytics_model/visualization_objects/f1a6987e-9733-4717-994a-5bc030e4fcff.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/ldm/datasets/commits.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/ldm/datasets/pull_requests.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/ldm/datasets/users.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/ldm/date_instances/created_at.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/staging/ldm/date_instances/merged_at.yaml
  analytics/gooddata_load_metadata.py
  analytics/gooddata_register_data_source.py
Due: gooddata_staging, gooddata_prod

Extend configuration by data sources
  analytics/args.py
  analytics/config.py
  analytics/config.yaml
  analytics/gooddata_load_metadata.py
  analytics/gooddata_register_data_source.py
  analytics/gooddata_store_metadata.py
  analytics/gooddata_tests.py
Due: gooddata_staging, gooddata_prod

FIX: config file prod data source id
  analytics/config.yaml
Due: gooddata_staging, gooddata_prod

Prettified layout ids
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/analytical_dashboards/github_overview.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/filter_contexts/simple_filter_context.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/created_commits_month.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/hours_to_solve_prs_week.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/longest_unsolved_prs.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/merged_prs_month.yaml
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/number_of_solved_prs_user.yaml
Due: gooddata_staging, gooddata_prod

simplify config.py
  analytics/config.py
  extract_load/config.py
Due: extract_load, dbt, gooddata_staging, gooddata_prod

apply isort and GoodDataSdkWrapper adoption
  analytics/gooddata_load_metadata.py
  analytics/gooddata_register_data_source.py
  analytics/gooddata_store_metadata.py
  analytics/gooddata_tests.py
  analytics/gooddata_upload_notification.py
  extract_load/extract.py
Due: extract_load, dbt, gooddata_staging, gooddata_prod

Add dashboard description
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/analytical_dashboards/github_overview.yaml
  analytics/requirements.txt
Due: gooddata_staging, gooddata_prod

New title name
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/created_commits_month.yaml
Due: gooddata_staging, gooddata_prod

Fix broken dashboard
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/created_commits_month.yaml
Due: gooddata_staging, gooddata_prod

New title
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/created_commits_month.yaml
Due: gooddata_staging, gooddata_prod

Fix localIdentifier
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/created_commits_month.yaml
Due: gooddata_staging, gooddata_prod

Minor change
  analytics/gooddata_layouts/demo-cicd/workspaces/development/analytics_model/visualization_objects/created_commits_month.yaml
Due: gooddata_staging, gooddata_prod

add missing folders into .gitignore
  .gitignore
Due: none

Add forgotten repos dataset
  analytics/gooddata_layouts/demo-cicd/workspaces/development/ldm/datasets/repos.yaml
Due: gooddata_staging, gooddata_prod

Path conditions:
  extract_load: any of: extract_load/**/*
  dbt: any of: extract_load/**/*, data_transformation/**/*
  gooddata_staging: any of: analytics/**/*
  gooddata_prod: any of: analytics/**/*
