Repository jaceksan/gooddata-data-pipeline: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_meltano, extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

build_meltano:
  image: docker:latest
  services:
  - docker:18.09.7-dind
  before_script:
  - docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
  stage: build
  script:
  - cd "$CI_PROJECT_DIR/src"
  ...

extract_load_dev:
  image:
    name: $MELTANO_CUSTOM_IMAGE
    entrypoint:
    - ''
  stage: extract_load
  variables:
    TAP_GITHUB_AUTH_TOKEN: $GITHUB_TOKEN
    MELTANO_DATABASE_URI: postgresql://$POSTGRES_USER:$POSTGRES_PASS@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DBNAME?options=-csearch_path%3Dmeltano
    CI_DEBUG_TRACE: 'true'
  ...

dbt_dev:
  image: python:3.10-slim-buster
  stage: transform
  before_script:
  - cd "$CI_PROJECT_DIR/src"
  - pip install -r requirements-dbt.txt
  - cd dbt-gooddata && python setup.py install && cd ..
  - dbt deps
  script:
  - dbt run --profiles-dir $DBT_PROFILE_DIR --profile $DBT_PROFILE
  ...

gooddata_dev:
  image: python:3.10-slim-buster
  stage: analytics
  before_script:
  - cd "$CI_PROJECT_DIR/src"
  - pip install -r requirements-dbt.txt
  - cd dbt-gooddata && python setup.py install && cd ..
  - dbt deps
  script:
  - dbt compile --profiles-dir $DBT_PROFILE_DIR --profile $DBT_PROFILE
  ...

extract_load_staging:
  image:
    name: $MELTANO_CUSTOM_IMAGE
    entrypoint:
    - ''
  stage: extract_load
  variables:
    TAP_GITHUB_AUTH_TOKEN: $GITHUB_TOKEN
    MELTANO_DATABASE_URI: postgresql://$POSTGRES_USER:$POSTGRES_PASS@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DBNAME?options=-csearch_path%3Dmeltano
    CI_DEBUG_TRACE: 'true'
  ...

dbt_staging:
  image: python:3.10-slim-buster
  stage: transform
  before_script:
  - cd "$CI_PROJECT_DIR/src"
  - pip install -r requirements-dbt.txt
  - cd dbt-gooddata && python setup.py install && cd ..
  - dbt deps
  script:
  - dbt run --profiles-dir $DBT_PROFILE_DIR --profile $DBT_PROFILE
  ...

gooddata_staging:
  image: python:3.10-slim-buster
  stage: analytics
  before_script:
  - cd "$CI_PROJECT_DIR/src"
  - pip install -r requirements-dbt.txt
  - cd dbt-gooddata && python setup.py install && cd ..
  - dbt deps
  script:
  - dbt compile --profiles-dir $DBT_PROFILE_DIR --profile $DBT_PROFILE
  ...

extract_load_prod:
  image:
    name: $MELTANO_CUSTOM_IMAGE
    entrypoint:
    - ''
  stage: extract_load
  variables:
    TAP_GITHUB_AUTH_TOKEN: $GITHUB_TOKEN
    MELTANO_DATABASE_URI: postgresql://$POSTGRES_USER:$POSTGRES_PASS@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DBNAME?options=-csearch_path%3Dmeltano
    CI_DEBUG_TRACE: 'true'
  ...

dbt_prod:
  image: python:3.10-slim-buster
  stage: transform
  before_script:
  - cd "$CI_PROJECT_DIR/src"
  - pip install -r requirements-dbt.txt
  - cd dbt-gooddata && python setup.py install && cd ..
  - dbt deps
  script:
  - dbt run --profiles-dir $DBT_PROFILE_DIR --profile $DBT_PROFILE
  ...

Fix docker-compose
  docker-compose.yaml
  fixtures/postgres/00_create_db_schema.sql
Due: none

Separate Repository created_at
  src/models/repos/repos.sql
  src/models/repos/schema.yml
Due: dbt_dev, gooddata_dev, dbt_staging, gooddata_staging, dbt_prod, gooddata_prod

Handle "user" column correctly for both PG and Snowflake
  src/macros/get_db_entity_name.sql
  src/models/pull_requests/pull_requests_extract_json.sql
Due: dbt_dev, gooddata_dev, dbt_staging, gooddata_staging, dbt_prod, gooddata_prod

Replace pull_request ID with number in an insight
  src/gooddata_layouts/analytics_model/analytical_dashboards/github_overview.yaml
  src/gooddata_layouts/analytics_model/visualization_objects/longest_unsolved_prs.yaml
Due: gooddata_dev, gooddata_staging, gooddata_prod

Make PR number a label of synthetic PR ID
  src/gooddata_layouts/analytics_model/visualization_objects/longest_unsolved_prs.yaml
  src/models/pull_requests/pull_requests.sql
  src/models/pull_requests/pull_requests_extract_json.sql
  src/models/pull_requests/schema.yml
Due: dbt_dev, gooddata_dev, dbt_staging, gooddata_staging, dbt_prod, gooddata_prod

Incremental dbt transformation
  src/models/commits/commits.sql
  src/models/commits/commits_extract_json.sql
  src/models/pull_requests/pull_requests.sql
  src/models/pull_requests/pull_requests_extract_json.sql
Due: dbt_dev, gooddata_dev, dbt_staging, gooddata_staging, dbt_prod, gooddata_prod

Add TODO into meltano.yml
  src/meltano.yml
Due: build_meltano, extract_load_dev, extract_load_staging, extract_load_prod

Remove forgotten variable from gitlab-ci
  .gitlab-ci.yml
Due: build_meltano, extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

Fix incremental dbt models
  src/models/commits/commits.sql
  src/models/commits/commits_extract_json.sql
  src/models/pull_requests/pull_requests.sql
  src/models/pull_requests/pull_requests_extract_json.sql
Due: dbt_dev, gooddata_dev, dbt_staging, gooddata_staging, dbt_prod, gooddata_prod

Define default values for all env variables used in dbt models
  src/dbt_project.yml
  src/profile/profiles.yml
Due: dbt_dev, dbt_staging, dbt_prod

Bump versions of dbt
  src/packages.yml
  src/requirements-dbt.txt
Due: dbt_dev, dbt_staging, dbt_prod

Read dbt profile env vars with default values
  src/dbt-gooddata/dbt_gooddata/dbt/profiles.py
Due: dbt_dev, gooddata_dev, dbt_staging, gooddata_staging, dbt_prod, gooddata_prod

Deprecate VERSION file
  src/dbt-gooddata/setup.py
Due: dbt_dev, gooddata_dev, dbt_staging, gooddata_staging, dbt_prod, gooddata_prod

Simplify onboarding, prepare for production-like deployment
  .gitlab-ci.yml
  Dockerfile_dbt
  Dockerfile_meltano
  Makefile
  README.md
  docker-compose.yaml
  docs/MDS.png
  src/Dockerfile_dbt
  src/requirements-meltano.txt
Due: build_meltano, extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

adopt comments #1
  Makefile
  README.md
Due: none

Remove doubled encloser from dbt-profile
  src/profile/profiles.yml
Due: dbt_dev, dbt_staging, dbt_prod

Add DOC into dbt models
  src/models/github/commits/commits.sql
  src/models/github/commits/commits_extract_json.sql
  src/models/github/pull_requests/pull_requests.sql
  src/models/github/pull_requests/pull_requests_extract_json.sql
Due: dbt_dev, gooddata_dev, dbt_staging, gooddata_staging, dbt_prod, gooddata_prod

Fix directory structure of dbt models
  src/dbt_project.yml
  src/models/github/avg_days_to_solve_per_week/avg_days_to_solve_per_week.sql
  src/models/github/commits/commits.sql
  src/models/github/commits/commits_extract_json.sql
  src/models/github/commits/schema.yml
  src/models/github/pull_requests/pull_requests.sql
  src/models/github/pull_requests/pull_requests_extract_json.sql
  src/models/github/pull_requests/schema.yml
  src/models/github/repos/repos.sql
  src/models/github/repos/schema.yml
  src/models/github/users/schema.yml
  src/models/github/users/users.sql
Due: dbt_dev, gooddata_dev, dbt_staging, gooddata_staging, dbt_prod, gooddata_prod

Fix README
  README.md
Due: none

Add missing encloser in dbt profiles
  src/profile/profiles.yml
Due: dbt_dev, dbt_staging, dbt_prod

Unify usage of TAP_GITHUB_AUTH_TOKEN env variable
  .gitlab-ci.yml
  README.md
  docker-compose.yaml
Due: build_meltano, extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

Fix default target in meltano.yml
  src/meltano.yml
Due: build_meltano, extract_load_dev, extract_load_staging, extract_load_prod

Remove deprecated argument from call of store_analytics
  src/dbt-gooddata/dbt_gooddata/dbt_gooddata.py
Due: dbt_dev, gooddata_dev, dbt_staging, gooddata_staging, dbt_prod, gooddata_prod

Add forgotten tap into gitlab.ci
  .gitlab-ci.yml
Due: build_meltano, extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

Reformat meltano.yml
  src/meltano.yml
Due: build_meltano, extract_load_dev, extract_load_staging, extract_load_prod

FIX: propagate GOODDATA_ENVIRONMENT_ID into corresponding jobs
  .gitlab-ci.yml
Due: build_meltano, extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

Add reviews
  src/gooddata_layouts/cicd_demo/analytics_model/analytical_dashboards/github_overview.yaml
  src/gooddata_layouts/cicd_demo/analytics_model/visualization_objects/259d1108-47d7-48ca-95e7-42727bf29803.yaml
  src/meltano.yml
  src/models/github/pull_requests/pull_requests.sql
  src/models/github/pull_requests/pull_requests_extract_json.sql
  src/models/github/reviews/reviews.sql
  src/models/github/reviews/reviews_extract_json.sql
  src/models/github/reviews/schema.yml
Due: build_meltano, extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

FIX: adopt new paths of Dockerfiles
  .gitlab-ci.yml
  data_pipeline/Dockerfile_dbt
Due: build_meltano, extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

FIX: add missing pull_requests.url column
  data_pipeline/meltano.yml
Due: none

Bump version of Meltano
  data_pipeline/requirements-meltano.txt
Due: none

REVERT: Github reviews
  data_pipeline/dbt_project.yml
  data_pipeline/gooddata_layouts/cicd_demo/analytics_model/analytical_dashboards/github_overview.yaml
  data_pipeline/gooddata_layouts/cicd_demo/analytics_model/visualization_objects/259d1108-47d7-48ca-95e7-42727bf29803.yaml
  data_pipeline/meltano.yml
  data_pipeline/models/_todo/reviews/reviews.sql
  data_pipeline/models/_todo/reviews/reviews_extract_json.sql
  data_pipeline/models/_todo/reviews/schema.yml
  data_pipeline/models/github/pull_requests/pull_requests.sql
  data_pipeline/models/github/pull_requests/pull_requests_extract_json.sql
Due: none

Add VR analytics demo app
  .gitlab-ci.yml
  README.md
  apps/vr_analytics/.gitignore
  apps/vr_analytics/README.md
  apps/vr_analytics/index.html
  apps/vr_analytics/package.json
  apps/vr_analytics/src/data.js
  apps/vr_analytics/src/state.js
  apps/vr_analytics/src/styles.css
  apps/vr_analytics/src/thumbstick_movement.js
  apps/vr_analytics/static_examples/aincraft.html
  apps/vr_analytics/static_examples/component_test.html
  apps/vr_analytics/static_examples/index.html
  apps/vr_analytics/static_examples/registry.html
  apps/vr_analytics/static_examples/starter.html
  apps/vr_analytics/yarn.lock
  docker-compose.yaml
Due: build_meltano, extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

FIX: crawl user objects with wildcard syntax
  data_pipeline/meltano.yml
  data_pipeline/models/github/commits/commits.sql
  data_pipeline/models/github/commits/commits_extract_json.sql
  data_pipeline/models/github/pull_requests/pull_requests.sql
  data_pipeline/models/github/pull_requests/pull_requests_extract_json.sql
Due: none

Run dbt when meltano.yml is changed
  .gitlab-ci.yml
Due: build_meltano, extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

Meltano - migrate to AWS S3 state backend
  Dockerfile_meltano
  data_pipeline/meltano.yml
  data_pipeline/requirements-meltano.txt
Due: none

Finalize migration to S3 state backend
  .gitlab-ci.yml
  README.md
  data_pipeline/meltano.yml
  docker-compose.yaml
  docs/MDS.png
  fixtures/postgres/00_create_db_schema.sql
Due: build_meltano, extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

FIX: Postpone scan data source after reading dbt tables
  data_pipeline/dbt-gooddata/dbt_gooddata/dbt/base.py
  data_pipeline/dbt-gooddata/dbt_gooddata/dbt/tables.py
  data_pipeline/dbt-gooddata/dbt_gooddata/dbt_gooddata.py
Due: none

Refactor CICD pipeline
  .gitlab-ci.yml
  .gitlab-ci/gitlab-ci-analytics.yml
  .gitlab-ci/gitlab-ci-build-base.yml
  .gitlab-ci/gitlab-ci-build-dbt.yml
  .gitlab-ci/gitlab-ci-build-meltano.yml
  .gitlab-ci/gitlab-ci-extract-load.yml
  .gitlab-ci/gitlab-ci-transform.yml
  Dockerfile_dbt
  Dockerfile_meltano
  Makefile
  data_pipeline/dbt-gooddata/README.md
  data_pipeline/dbt-gooddata/VERSION
  data_pipeline/dbt-gooddata/bin/dbt-gooddata
  data_pipeline/dbt-gooddata/dbt_gooddata/__init__.py
  data_pipeline/dbt-gooddata/dbt_gooddata/args.py
  data_pipeline/dbt-gooddata/dbt_gooddata/dbt/__init__.py
  data_pipeline/dbt-gooddata/dbt_gooddata/dbt/base.py
  data_pipeline/dbt-gooddata/dbt_gooddata/dbt/metrics.py
  data_pipeline/dbt-gooddata/dbt_gooddata/dbt/profiles.py
  data_pipeline/dbt-gooddata/dbt_gooddata/dbt/tables.py
  data_pipeline/dbt-gooddata/dbt_gooddata/dbt_gooddata.py
  data_pipeline/dbt-gooddata/dbt_gooddata/gooddata/__init__.py
  data_pipeline/dbt-gooddata/dbt_gooddata/gooddata/config.py
  data_pipeline/dbt-gooddata/dbt_gooddata/logger.py
  data_pipeline/dbt-gooddata/dbt_gooddata/sdk_wrapper.py
  data_pipeline/dbt-gooddata/requirements.txt
  data_pipeline/dbt-gooddata/setup.py
  data_pipeline/meltano-plugins.yml
  data_pipeline/requirements-gooddata.txt
Due: build_meltano, extract_load_dev, dbt_dev, gooddata_dev, extract_load_staging, dbt_staging, gooddata_staging, extract_load_prod, dbt_prod, gooddata_prod

Path conditions:
  build_meltano: any of: src/Dockerfile_meltano, src/meltano.yml, .gitlab-ci.yml
  extract_load_dev: any of: src/meltano.yml, .gitlab-ci.yml
  dbt_dev: any of: src/models/**/*, src/profile/**/*, src/dbt_project.yml, src/packages.yml, src/requirements-dbt.txt, src/dbt-gooddata/**/*, .gitlab-ci.yml
  gooddata_dev: any of: src/models/**/*, src/dbt-gooddata/**/*, src/gooddata_layouts/**/*, .gitlab-ci.yml
  extract_load_staging: any of: src/meltano.yml, .gitlab-ci.yml
  dbt_staging: any of: src/models/**/*, src/profile/**/*, src/dbt_project.yml, src/packages.yml, src/requirements-dbt.txt, src/dbt-gooddata/**/*, .gitlab-ci.yml
  gooddata_staging: any of: src/models/**/*, src/dbt-gooddata/**/*, src/gooddata_layouts/**/*, .gitlab-ci.yml
  extract_load_prod: any of: src/meltano.yml, .gitlab-ci.yml
  dbt_prod: any of: src/models/**/*, src/profile/**/*, src/dbt_project.yml, src/packages.yml, src/requirements-dbt.txt, src/dbt-gooddata/**/*, .gitlab-ci.yml
  gooddata_prod: any of: src/models/**/*, src/dbt-gooddata/**/*, src/gooddata_layouts/**/*, .gitlab-ci.yml
